{  
   "checks":[  
      {  
         "name":"Server 1",
         "type": "web-ping",
         "address":"http://server1.com/healthcheck",
         "interval":10,
         "alerts":["stderr"]
      },
      {  
         "name":"Server 2",
         "type": "web-ping",
         "address":"http://server2.com/healthcheck",
         "interval":10,
         "alerts":["stderr", "email", "chat", "sms"]
      },
      {  
         "name":"Server 3",
         "type": "web-ping",
         "address":"http://server3.com/healthcheck",
         "interval":10,
         "alerts":["stderr"]
      },
      {
         "name": "scollector-metrics",
         "type": "scollector",
         "host": "hostname",
         "interval": 15,
         "alerts": ["stderr"]
      }
   ],
   "notifications": [
      {
         "name": "email",
         "type": "gmail",
         "config": {
            "user": "",
            "pass": "",
            "notification_addresses": ""      
         }
      },
      {
         "name": "chat",
         "type": "slack",
         "config": {
            "webhook_url": "",
            "channel": "#general",
            "username": "redalert",
            "icon_emoji": ":rocket:"  
         }
      },
      {
         "name": "sms",
         "type": "twilio",
         "config": {
            "account_sid": "",
            "auth_token": "",
            "twilio_number": "",
            "notification_numbers": ""    
         }
      }
   ]
}
