{  
   "servers":[  
      {  
         "name":"Server 1",
         "address":"http://server1.com/healthcheck",
         "interval":3,
         "actions":["console"]
      },
      {  
         "name":"Server 2",
         "address":"http://server2.com/healthcheck",
         "interval":3,
         "actions":["console", "slack"]
      },
      {  
         "name":"Server 1",
         "address":"http://server3.com/healthcheck",
         "interval":3,
         "actions":["console"]
      }
   ]
}