body {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  background: #696969;
}

.server {
  width: 100%;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer; cursor: hand;
  min-height: 51px;
}

.server.UNKNOWN {
  background: #f1c40f;
}

.server.SUCCESSFUL {
  background: #2ecc71;
}

.server.SUCCESSFUL:nth-child(2n+1) {
  background: #27ae60;
}

.server.FAILING {
  background: #e74c3c;
}

.server.DISABLED {
  background: #95a5a6;
}

.server .status-check-name {
  font-size: 0.75em;
  position: absolute;
  left: 48px;
  margin-bottom: 35px;
  margin-top: 5px;

}

.server .metric-name{
  font-size: 0.45em;
  text-align: right;
  margin-top: 5px;
  margin-right: 5px;
}

.server .check-type {
  font-size: 0.25em;
}

.check-chart {
  height: 100px;
}
.ct-series-a .ct-line {
  stroke: white;
  stroke-width: 1.75px;
}
.ct-series-b .ct-line {
  stroke: white;
  stroke-width: 3px;
}
