body {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  background: #696969;
}

.brand img {
  float: left;
}

.brand .redalert {
  margin-top: 15px;
  float:left;
}

.server {
  width: 100%;
  float: left;
  background: #19BC9D;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer; cursor: hand;
}

.server:nth-child(2n+1) {
  background: #2ECB70;
}

.server.redalert {
  background: #b80000;
}

.server.redalert:nth-child(2n+1) {
  background: #f80000;
}

.server .status-check-name {
  font-size: 0.75em;
  position: absolute;
  left: 10px;
  margin-bottom: 35px;
  margin-top: 5px;
}

.server .status-metrics {
  min-height: 51px;
}

.server .metric .name{
  font-size: 0.45em;
}

.server .metric .data{}

.server .metric .unit{
  font-size: 0.3em;
}
