{{define "dash"}}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>REDALERT</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:700">
  <link rel="stylesheet" href="/static/stylesheets/main.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>

  <script type="text/javascript">
    $(function() {
        $('.inlinesparkline').sparkline('html', {type: 'bar', barColor: 'white'});
    });
    </script>

</head>
<body>
	<div id="content">
	  <div class="server" style="display:none;"></div>

	  <div class="brand">
	  	<img src="/static/images/rocket.png">
	  	<div class="redalert">REDALERT</div>
	  </div>

	  {{range $element := .Servers }}
    	<div class="server {{ $element.LastEvent.Type }}">
    		<span class="latency">{{ $element.LastEvent.PrintLatency }}<span class="ms">ms</span></span>
    		{{ $element.Name }}
    		<div><span class="inlinesparkline">{{ $element.GetEvents }}</span></div>
    	</div>
	  {{ end }}

	</div>
</body>
</html>
{{end}}