<!DOCTYPE html>
<html>
  <head>
    <title>REDALERT</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.0-rc.3/vue.min.js"></script>
    <script src="https://npmcdn.com/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://npmcdn.com/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.9.8/chartist.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.9.8/chartist.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
  </head>

  <body>
    <div id="wrapper">
    <div id="header">
      <div v-if="dataResolved" class="brand">
        REDALERT
      </div>
      <div class="overall-check-status">
        <span v-if="failCount > 0">{{ failCount }} FAILING</span>
        <img v-if="failCount > 0" class="emojione overall-status" alt="❎" src="//cdn.jsdelivr.net/emojione/assets/png/1f525.png?v=2.2.4">
        <span v-if="failCount === 0">ALL SUCCESSFUL</span>
        <img v-if="failCount === 0" class="emojione overall-status" alt="✅" src="//cdn.jsdelivr.net/emojione/assets/png/2705.png?v=2.2.4">
      </div>
    </div>
    <div id="checks">
      <div v-for="check in checks" class="server" v-bind:class="[check.status]">

        <div class="check-info">
          <img v-if="check.status === 'SUCCESSFUL'" class="emojione status-icon" alt="✅" src="//cdn.jsdelivr.net/emojione/assets/png/2705.png?v=2.2.4">
          <img v-if="check.status === 'FAILING'" class="emojione status-icon" alt="❎" src="//cdn.jsdelivr.net/emojione/assets/png/274e.png?v=2.2.4">
          <span class="check-name">{{ check.name }}</span> <span class="check-type">[{{ check.type }}]</span>
          <span class="success-rate" v-if="_.isNumber(check.successRate)">{{ check.successRate }}%&#8593;</span>

        </div>

        <div class="metric-name">
            <span class="transition">{{ check.status }} <span v-if="check.stateTransitionedAt">for {{ check.stateTransitionedAt }}</span></span></br>
           <span v-if="check.selectedMetric">{{ check.selectedMetric }} ({{ check.selectedMetricValue }})</span>
        </div>

        <chartist :data="check.events" :metric="check.selectedMetric" class="chartist"></chartist>

        <div class="check-error" v-if="check.errors">errors: {{ check.errors }} </div>

      </div>
    </div>
  </div>
    <script src="/assets/app.bundle.js"></script>
  </body>
</html>
